span.bigScreen-ProfileReviews {
    display: inline;
}
span.smallScreen-ProfileReviews {
    display: none;
}
@media screen and (max-width: 930px) {
    .content-ProfileReviews h1 {
        font-size: 50px;
    }
}
@media screen and (max-width: 930px) { 
    span.bigScreen-ProfileReviews {
        display: none;
    }
    span.smallScreen-ProfileReviews {
        display: inline;
        width: 98%;
    }
}
.content-ProfileReviews {
    margin-top: -90px;
    margin-bottom: 80px;
}
.content-ProfileReviews h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}
.content-ProfileReviews h2 {
    font-weight: normal;
}
.content-ProfileReviews .r1 {
    display: flex;
    flex-direction: row;
    margin-left: -18px;
}
.content-ProfileReviews .c1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-ProfileReviews .sidebar-content {
    min-width: 270px;
    height: 90%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: 30px;
    gap: 10px;
}