@media screen and (min-width: 550px) {
    .content-ForgotPassword h1 {
        font-size: 50px;
    }
}
@media screen and (max-width: 550px) {
    .content-ForgotPassword h1 {
        font-size: 30px;
    }
}
.content-ForgotPassword {
    display: flex;
    margin-top: -90px;
    margin-bottom: 80px;
    flex-direction: column;
    align-items: center;
}
.content-ForgotPassword h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}
.content-ForgotPassword .form-control-forgotpassword {
    margin-bottom: 40px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 483px;
}
.content-ForgotPassword .form-control-forgotpassword input {
    border: none;
    background: #D9D9D9;
    border-radius: 10px;
    display: block;
    width: 330px;
    height: 40px;
    padding: 8px;
    font-size: 20px;
}
.content-ForgotPassword #submit-btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: #BEE5B0;
    border-radius: 10px;
    height: 27px;
    width: 77px;
    align-items: center;
    border: none;
    color: white;
    font-family: "Martel Sans";
}