span.bigScreen-Theme {
    display: inline;
}
span.smallScreen-Theme {
    display: none;
}
@media screen and (max-width: 1000px) {
    span.bigScreen-Theme {
        display: none;
    }
    span.smallScreen-Theme {
        display: inline;
        width: 98%;
    }
    .content-Theme h1 {
        font-size: 50px;
    }
}
@media screen and (min-width: 1000px) {
    .content-Theme h1 {
        font-size: 60px;
    }
}
.content-Theme {
    margin-top: -90px;
    margin-bottom: 80px;
}
.content-Theme h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}
.content-Theme h2 {
    text-align: center;
    margin-bottom: -5px;
    font-weight: normal;
}
.content-Theme .sidebar-content {
    min-width: 270px;
    height: 90%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: 30px;
    gap: 10px;
}
.content-Theme .themes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.content-Theme .r1 {
    display: flex;
    flex-direction: row;
    margin-left: -18px;
}
.content-Theme .r3 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 0;
}
.content-Theme .c1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
    gap: 40px;
    height: 400px;
}
.active-theme img {
    border: 2px solid #000000;
    border-radius: 70px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}
.inactive-theme img {
    border-radius: 70px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}
#honeydew {
    cursor: pointer;
}
#dragonfruit {
    cursor: pointer;
}
#shokupan {
    cursor: pointer;
}
#boring {
    cursor: pointer;
}
#blueberry {
    cursor: pointer;
}

.honeydew {
    background-color: #FFFEEC;
}
.honeydew #current, 
.honeydew .footer, 
.honeydew .image-edit,
.honeydew #navbar-login, 
.honeydew #top-recom-big::-webkit-scrollbar-thumb,
.honeydew .searchResult::-webkit-scrollbar-thumb,
.honeydew #bookmarks-small::-webkit-scrollbar-thumb,
.honeydew #bookmarks-big::-webkit-scrollbar-thumb,
.honeydew #top-recom-small::-webkit-scrollbar-thumb,
.honeydew #myreviews-small::-webkit-scrollbar-thumb,
.honeydew #myreviews-big::-webkit-scrollbar-thumb,
.honeydew .tags-input::-webkit-scrollbar-thumb,
.honeydew #btn,
.honeydew .resName-price .price-range .input {
    background-color: #E4F3D3;
}
.honeydew .location input,
.honeydew .image-edit #image-btn, 
.honeydew #image-cancel, 
.honeydew input[type="file"]::file-selector-button,
.honeydew #edit-btn:hover {
    background-color: #FFFEEC;
}
.honeydew .searchResult {
    border: 2px solid #E4F3D3;
}
.honeydew input[type="checkbox"]:checked {
    accent-color: #E4F3D3;
}
.honeydew #current, .honeydew .footer, .honeydew #navbar-login {
    background-color: #E4F3D3;
}
.honeydew .searchResult .line5 {
    border-top: 1.5px solid #E4F3D3;
}
.honeydew .nav1 a, .honeydew .nav2 a, .honeydew #acc {
    color: #000000; 
}
.honeydew #post-price .MuiSlider-thumb  {
    color: #E4F3D3;
}
.honeydew .nav1 a.active-link.active, 
.honeydew .nav2 a.active-link.active, 
.honeydew .nav1 a.active-link:hover, 
.honeydew .nav2 a.active-link:hover {
    border-bottom: 2px solid #000000;
}

.dragonfruit {
    background-color: #F4F4F4;
}
.dragonfruit #current, 
.dragonfruit .footer, 
.dragonfruit .image-edit,
.dragonfruit #navbar-login, 
.dragonfruit #top-recom-big::-webkit-scrollbar-thumb,
.dragonfruit .searchResult::-webkit-scrollbar-thumb,
.dragonfruit #bookmarks-small::-webkit-scrollbar-thumb,
.dragonfruit #bookmarks-big::-webkit-scrollbar-thumb,
.dragonfruit #top-recom-small::-webkit-scrollbar-thumb,
.dragonfruit #myreviews-small::-webkit-scrollbar-thumb,
.dragonfruit #myreviews-big::-webkit-scrollbar-thumb,
.dragonfruit .tags-input::-webkit-scrollbar-thumb,
.dragonfruit #btn,
.dragonfruit .resName-price .price-range .input {
    background-color: #C55781;
}
.dragonfruit .location input,
.dragonfruit .image-edit #image-btn, 
.dragonfruit #image-cancel, 
.dragonfruit input[type="file"]::file-selector-button,
.dragonfruit #edit-btn:hover {
    background-color: #F4F4F4;
}
.dragonfruit .searchResult {
    border: 2px solid #C55781;
}
.dragonfruit input[type="checkbox"]:checked {
    accent-color: #C55781;
}
.dragonfruit #current, .dragonfruit .footer, .dragonfruit #navbar-login {
    background-color: #C55781;
}
.dragonfruit .searchResult .line5 {
    border-top: 1.5px solid #C55781;
}
.dragonfruit .nav1 a, .dragonfruit .nav2 a, .dragonfruit #acc {
    color: #000000;
}
.dragonfruit #post-price .MuiSlider-thumb  {
    color: #C55781;
}
.dragonfruit .nav1 a.active-link.active, 
.dragonfruit .nav2 a.active-link.active, 
.dragonfruit .nav1 a.active-link:hover, 
.dragonfruit .nav2 a.active-link:hover {
    border-bottom: 2px solid #000000;
}

.shokupan {
    background-color: #FEFBE9;
}
.shokupan #current, 
.shokupan .footer, 
.shokupan .image-edit,
.shokupan #navbar-login, 
.shokupan #top-recom-big::-webkit-scrollbar-thumb,
.shokupan .searchResult::-webkit-scrollbar-thumb,
.shokupan #bookmarks-small::-webkit-scrollbar-thumb,
.shokupan #bookmarks-big::-webkit-scrollbar-thumb,
.shokupan #top-recom-small::-webkit-scrollbar-thumb,
.shokupan #myreviews-small::-webkit-scrollbar-thumb,
.shokupan #myreviews-big::-webkit-scrollbar-thumb,
.shokupan .tags-input::-webkit-scrollbar-thumb,
.shokupan #btn,
.shokupan .resName-price .price-range .input {
    background-color: #BD7D4E;
    color: #FEFBE9;
}
.shokupan .location input,
.shokupan .image-edit #image-btn, 
.shokupan #image-cancel, 
.shokupan input[type="file"]::file-selector-button,
.shokupan #edit-btn:hover {
    background-color: #FEFBE9;
}
.shokupan .searchResult {
    border: 2px solid #BD7D4E;
}
.shokupan input[type="checkbox"]:checked {
    accent-color: #BD7D4E;
}
.shokupan #current, .shokupan .footer, .shokupan #navbar-login {
    background-color: #BD7D4E;
}
.shokupan .searchResult .line5 {
    border-top: 1.5px solid #BD7D4E;
}
.shokupan .nav1 a, .shokupan .nav2 a, .shokupan #acc {
    color: #000000;
}
.shokupan #post-price .MuiSlider-thumb  {
    color: #BD7D4E;
}
.shokupan .nav1 a.active-link.active, 
.shokupan .nav2 a.active-link.active,
.shokupan .nav1 a.active-link:hover, 
.shokupan .nav2 a.active-link:hover {
    border-bottom: 2px solid #000000;
}

.boring {
    background-color: #FFFFFF;
}
.boring #current, 
.boring .footer, 
.boring .image-edit,
.boring #navbar-login, 
.boring #top-recom-big::-webkit-scrollbar-thumb,
.boring .searchResult::-webkit-scrollbar-thumb,
.boring #bookmarks-small::-webkit-scrollbar-thumb,
.boring #bookmarks-big::-webkit-scrollbar-thumb,
.boring #top-recom-small::-webkit-scrollbar-thumb,
.boring #myreviews-small::-webkit-scrollbar-thumb,
.boring #myreviews-big::-webkit-scrollbar-thumb,
.boring .tags-input::-webkit-scrollbar-thumb,
.boring #btn,
.boring .resName-price .price-range .input {
    background-color: #2B2B2B;
    color: #FFFFFF;
}
.boring .location input,
.boring .image-edit #image-btn, 
.boring #image-cancel, 
.boring input[type="file"]::file-selector-button,
.boring #edit-btn:hover {
    background-color: #FFFFFF;
}
.boring .searchResult {
    border: 2px solid #2B2B2B;
}
.boring input[type="checkbox"]:checked {
    accent-color: #2B2B2B;
}
.boring .searchResult .line5 {
    border-top: 1.5px solid #2B2B2B;
}
.boring .nav2 a, .boring #hamburger-menu, .boring #acc {
    color: #FFFFFF;
}
.boring #post-price .MuiSlider-thumb  {
    color: #2B2B2B;
}
.boring .nav1 a.active-link.active, 
.boring .nav2 a.active-link.active,
.boring .nav1 a.active-link:hover, 
.boring .nav2 a.active-link:hover {
    border-bottom: 2px solid #FFFFFF;
}

.blueberry {
    background-color: #F0FAFF;
}
.blueberry #current, 
.blueberry .footer, 
.blueberry .image-edit,
.blueberry #navbar-login, 
.blueberry #top-recom-big::-webkit-scrollbar-thumb,
.blueberry .searchResult::-webkit-scrollbar-thumb,
.blueberry #bookmarks-small::-webkit-scrollbar-thumb,
.blueberry #bookmarks-big::-webkit-scrollbar-thumb,
.blueberry #top-recom-small::-webkit-scrollbar-thumb,
.blueberry #myreviews-small::-webkit-scrollbar-thumb,
.blueberry #myreviews-big::-webkit-scrollbar-thumb,
.blueberry .tags-input::-webkit-scrollbar-thumb,
.blueberry #btn,
.blueberry .resName-price .price-range .input {
    background-color: #6698B7;
}
.blueberry .location input,
.blueberry .image-edit #image-btn, 
.blueberry #image-cancel, 
.blueberry input[type="file"]::file-selector-button,
.blueberry #edit-btn:hover {
    background-color: #F0FAFF;
}
.blueberry .searchResult {
    border: 2px solid #6698B7;
}
.blueberry input[type="checkbox"]:checked {
    accent-color: #6698B7;
}
.blueberry .searchResult .line5 {
    border-top: 1.5px solid #6698B7;
}
.blueberry .nav1 a, .blueberry .nav2 a, .blueberry #acc {
    color: #000000;
}
.blueberry #post-price .MuiSlider-thumb  {
    color: #6698B7;
}
.blueberry .nav1 a.active-link.active, 
.blueberry .nav2 a.active-link.active,
.blueberry .nav1 a.active-link:hover, 
.blueberry .nav2 a.active-link:hover {
    border-bottom: 2px solid #000000;
}