span.bigScreen-EditReview {
    display: inline;
}
span.smallScreen-EditReview {
    display: none;
}
@media screen and (max-width: 1000px) {
    span.bigScreen-EditReview {
        display: none;
    }
    span.smallScreen-EditReview {
        display: inline;
    }
    .content-EditReview h1 {
        font-size: 50px;
    }
    .content-EditReview form {
        width: 316px;
    }
    .content-EditReview .r2 {
        max-width: 316px;
    }
    .content-EditReview .sliderContainer {
        width: 120px;
    }
    .content-EditReview .switchContainer {
        margin-left: 23px;
    }
    .content-EditReview .tags-input {
        width: 305px;
    }
}
@media screen and (min-width: 1000px) {
    .content-EditReview h1 {
        font-size: 60px;
    }
    .content-EditReview form {
        width: 1104px;
    }
    .content-EditReview .r2 {
        max-width: 1104px;
    }
    .content-EditReview .sliderContainer {
        width: 150px;
    }
    .content-EditReview .switchContainer {
        margin-left: -700px;
    }
    .content-EditReview .tags-input {
        width: 320px;
    }
}
.content-EditReview {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: -90px;
    margin-bottom: 80px;
}
.content-EditReview h1 {
    text-align: center;
    font-weight: bold;
    margin-left: 78px;
}
.content-EditReview .Edit-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.content-EditReview .user-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    line-height: 220%;
    align-self: center;
    align-content: center;
}
.content-EditReview form {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 20px;
}
.content-EditReview form .details-container {
    display: block;
    width: 90%;
    margin-bottom: 15px;
}
.content-EditReview form .details-container label {
    text-align: left;
    display: block;
    color: #666;
    font-size: 12px;
    margin-bottom: 5px;
    transition: 0.4s;
}
.content-EditReview form .details-container input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #000000;
    height: 20px;
}
.content-EditReview form .details-container textarea {
    display: block;
    outline: none;
    width: 100%;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #000000;
    height: 140px;
    font-family: "Martel Sans";
}
.content-EditReview textarea {
    resize: none;
}
.content-EditReview .r1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    max-width: 316px;
    margin-bottom: -20px;
}
textarea .content-EditReview .r1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    max-width: 316px;
    margin-bottom: -20px;
}
.content-EditReview .r2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: -30px;
    gap: 180px;
    margin-left: 280px;
}
.content-EditReview .r3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 160px;
}
.content-EditReview .r3-content1 {
    display: flex;
    width: 30%;
    flex-direction: column;
}
.content-EditReview .r3-content2 {
    display: flex;
    width: 30%;
    flex-direction: column;
}
.content-EditReview #outer {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-EditReview .sliderContainer {
    width: 100px;
    margin-right: 10px;
}
.content-EditReview .ratingContainer {
    margin-bottom: -15px;
    width: 100%;
    display: flex;
    max-width: 316px;
    height: 25px;
}
.content-EditReview #outerAddress {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.content-EditReview form .suburb-container {
    width: 100%;
}
.content-EditReview form .suburb-container input {
    display: block;
    width: 95%;
    padding: 10px 15px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #000000;
    height: 20px;
}
.content-EditReview form .state-container {
    width: 150px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 10px;
}
.content-EditReview form .postcode-container {
    width: 160px;
}
.content-EditReview form .postcode-container input {
    display: block;
    width: 90%;
    padding: 10px 15px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #000000;
    height: 20px;
}
.content-EditReview form .country-container {
    width: 100%;
}
.content-EditReview form .country-container input {
    width: 90%;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #000000;
    height: 20px;
}
.content-EditReview .addImage {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.content-EditReview .addImageButton {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-top: -10px;
}
.content-EditReview .add-image {
    text-align: left;
    font-size: 11.5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.content-EditReview .editReviewButton {
    padding: 3.89px 13px 3.89px 13px;
    display: inline-block;
    cursor: pointer;
    background-color: #bee5b0;
    border-radius: 10px;
    color: #ffffff;
    border: none;
    width: 80px;
    height: 27px;
    top: 15px;
    position: relative;
}
.content-EditReview .description-tags {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.content-EditReview .tags-input {
    margin-bottom: 14px;
    margin-top: -70px;
    padding: 5px;
    max-height: 30px;
    overflow: auto;
}
.content-EditReview .tags-input::-webkit-scrollbar {
    width: 0.8em;
}
.content-EditReview .tags-input::-webkit-scrollbar-thumb {
    border-radius: 10px;
    max-height: 10px;
    border: 5px solid transparent;
    background-clip: padding-box;
}
