span.bigScreen-nav {
    display: inline;
}
span.smallScreen-nav {
    display: none;
}
@media screen and (max-width: 1000px) {
    span.bigScreen-nav {
        display: none;
    }
    span.smallScreen-nav {
        display: inline;
    }
}
@media screen and (min-width: 500px) {
    .MenuSideBar-c1 {
        white-space: nowrap;
    }
}
#navbar-login {
    background-color: #bee5b0;
}
.nav1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.nav2 {
    display: flex;
    flex-direction: row;
}
.MenuClose {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    right: 0;
}
.content-MenuSideBar {
    top: 0;
    left: 0;
    position: fixed;
    background-color: #ece7e5;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.content-MenuSideBar img {
    margin-top: 40px;
}
.MenuSideBar-r1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.MenuSideBar-c1 {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 40px;
}
a.active-link:hover {
    border-radius: 0;
    height: 100px;
    align-items: center;
    display: flex;
}
