span.bigScreen {
    display: inline;
}
span.smallScreen {
    display: none;
}
@media screen and (max-width: 520px) {
    .content h1 {
        font-size: 50px;
    }
}
@media screen and (max-width: 485px) { 
    span.bigScreen {
        display: none;
    }
    span.smallScreen {
        display: inline;
    }
    .searchrow {
        width: 95%;
    }
    .searchbar input {
        height: 20px;
        border-radius: 20px;
    }
}
@media screen and (min-width: 520px) {
    .content h1 {
        font-size: 60px;
    }
    .searchrow {
        width: 50%;
        border-radius: 10px;
    }
    .searchbar input {
        height: 35px;
        border-radius: 10px;
    }
}
:root {
    box-sizing: border-box;
}
body {
    margin-top: 230px;
    background-color: #FFFEEC;
    padding: 1%;
    font-family: "Martel Sans";
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.content {
    margin-top: -110px;
    margin-bottom: 80px;
}
.content h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
}
.content h2 {
    text-align: center;
    margin-bottom: -5px;
    font-weight: normal;
}
.searchbar {
    display: flex;
    gap: 1px;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: -30px;
}
.searchbar input {
    border: none;
    background: #D9D9D9;
    padding: 8px;
    font-size: 20px;
    width: 95%;
}
.searchrow {
    display: flex;
    gap: 6px;
    background-color: #D9D9D9;
    border-radius: 20px;
    gap: 1px;
    align-items: center;
    justify-content: center;
    padding-left: 6px;
    padding-right: 6px;
}
input:focus {
    outline: none;
}
.line {
    border-top: 1px solid #000000;
    margin-top: 28px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.line2 {
    border-top: 1px solid #000000;
    margin-top: -5px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.line3 {
    border-top: 1px solid #000000;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    display: flex;
    justify-content: center;
}
.reviews {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    margin-top: 20px;
    flex-direction: column;
    align-items: flex-start;
    width: 93%;
}
.reviews-content {
    background-color: #ECE7E5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 2%;
    flex-direction: column;
    height: 520px;
    width: 100%;
}
.footer {
    background-color: #E4F3D3;
    color: #3f3f3f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 90;
    bottom: 0;
    height: 30px;
    width: 100%;
    left: 0;
    position: fixed;
    margin: 0;
}
.footer p {
    display: flex;
    justify-content: flex-end;
    margin-right: 130px;
    margin-top: 3px;
}